---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { getCollection, getEntry } from "astro:content";

const entry = await getEntry({
	collection: "api",
	slug: "readme",
});
const { Content } = await entry.render();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<article>
				<Content />
			</article>
		</main>
		<Footer />
	</body>
</html>
